body {
    font-family: 'Caladea', serif;
    background-color: #f2f2f2;
}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
    background-size: cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998;
}

.input-wrapper {
    --padding: 5px;
    --focus-color: black;
    position: relative;
    display: flex;
    align-items: center;
}

input {
    padding: var(--padding);
    border: 2px solid gray;
    outline: none;
    border-radius: 6px;
}

.placeholder {
    position: absolute;
    background-color: white;
    color: gray;
    left: var(--padding);
    padding: 0 4px;
    transition: all 0.2s ease-in;
}

input:is(:focus, :valid) {
    border: 2px solid var(--focus-color);
}

input:is(:focus, :valid)+.placeholder {
    transform: translateY(calc(-1 * var(--padding) - 12px));
    font-size: 14px;
    color: var(--focus-color);
}

.wrapper {
    max-width: 560px;
    margin: 100px auto;
}

label {
    position: relative;
    display: block;
}

label>input {
    position: relative;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 45px;
    width: 100%;
    font-size: 16px;
    margin: 0 0 15px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all .3s;
}

label>input:valid+span {
    transform: translateY(-25px) scale(0.8);
    transform-origin: 0;
}

label>input:valid {
    border-bottom: 1px solid #3F51B5;
    box-shadow: 0 1px 0 0 #3F51B5;
}

label>span {
    color: #9e9e9e;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    cursor: text;
    transition: .2s ease-out;
}

label>input:focus+span {
    transform: translateY(-25px) scale(0.8);
    transform-origin: 0;
    color: #3F51B5;
}

label>input:focus {
    border-bottom: 1px solid #3F51B5;
    box-shadow: 0 1px 0 0 #3F51B5;
}

section {
    font: 13px/1.5 "Roboto", sans-serif;
    padding: 50px;
}

/* INPUT SELECT OPTION */

.label-class {
    width: 100%;
    float: left;
    margin-left: 25px;
    margin-bottom: 10px;
}

.center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

select {
    z-index: 3;
    float: left;
}

/** Custom Select **/
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    cursor: pointer;
}

.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;
    display: inline-block;
    font: 13px/1.5 "Roboto", sans-serif;
}

.custom-select-trigger {
    position: relative;
    display: block;
    min-width: 130px;
    padding: 0 104px 0 25px;
    font-weight: 100;
    color: #6e7c83;
    line-height: 50px;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.custom-select-trigger:hover {
    -webkit-box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
    box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
}

.custom-select-trigger:before {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 50px;
    top: 3px;
    right: 50px;
    margin-top: -3px;
    border-right: 1px solid #c7d1d6;
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    right: 20px;
    margin-top: -3px;
    border-bottom: 1px solid #c7d1d6;
    border-right: 1px solid #c7d1d6;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.35s ease-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0%;
    right: 0;
    width: 100%;

    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    /*  box-shadow: 0 2px 1px rgba(0, 0, 0, .1); */

    background: #fff;
    transition: all 0.2s ease-in-out;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    border: 0;
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(-8px);

    -webkit-box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
    box-shadow: 0px 10px 50px 0px rgba(43, 111, 246, 0.1);
}

.option-hover:before {
    background: #f9f9f9;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    font: 13px/1.5 "Roboto", sans-serif;
    font-weight: 600;
    color: #b5b5b5;
    line-height: 47px;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.custom-option:hover,
.custom-option.selection {
    color: #fff;
    background-color: #49e2bb;
}



/*Bootstrap Calendar*/