

.container-fluid{
    background-color: #eee;
}

@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Cairo&family=Roboto:wght@100&display=swap');

body{
  font-family: 'Amiri', serif;
}

.navbar .container-fluid{
    background-color: #828282;
  }
  .navbar-brand{
    color: #fff
  }
/* table*/
  .registry_section
{
    
  background-color: #eee;
  margin-bottom: 70px;
}



.registry_section .registry_Transfer_table
{
    margin-top: 70px;
    margin-bottom: 30px;
  margin-right: 250px;
  overflow-x: auto;
}


.registry_section table
{
    
  min-width: 50px;
  text-align: center;
}
.registry_section  thead td
{
  background-color: #ffffff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  font-weight: bold;
}
.registry_section  table td
{
   
  padding: 10px;
  min-width: 250px;
  border-spacing: 0;

}


.registry_section  tbody  .elm1
{
  background-color:  #ffb3b3;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.3s;
}
.registry_section  tbody  .elm2
{
  
  background-color:#ffffff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.3s;
}

.registry_section  tbody  .elm3
{
  
  background-color: #ffb3b3;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.3s;
}

.registry_section  tbody  .elm4
{
  
  background-color:#ffffff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.3s;
}
.registry_section  tbody  .elm5
{
  
  background-color: #ffb3b3;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.3s;
}
.registry_section  tbody  .elm6
{
  
  background-color:#ffffff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.3s;
}
.registry_section  tbody  .elm7
{
  
  background-color: #ffb3b3;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.3s;
}
.registry_section  tbody  .elm8
{
  
  background-color:#ffffff;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  transition: 0.3s;
}
/* Footer */
.footer{
  padding-top: 0px;
  padding-bottom: 2px;
  background-color: #5a5a5a;
  position: relative;
  color: white;
  text-align: center;
  /* margin-right: 200px; */
  /* margin-top:300px; */
  /* height: 800px; */
  box-shadow:-5px -2px 5px #5a5a5a;
  direction: rtl;
}
.footer::before{
  content: "";
  position: absolute;
  left: 0;
  top:0;
  width:100%;
  height:100%;
  background-color: #828282;
  

}
.footer .container
{
  position: relative;

}
.footer img{
  padding-top: 12px;
  margin-bottom: -27px;
  width: 150px;
}

.footer p:not(.copyright){
  text-transform: uppercase;
  padding:20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin:20px auto;
}
.footer p:not(.copyright) span{
  color: var(--main-color);
}


.footer .social-icons i {
  padding: 10px 40px;
  
  color: #ffffff;
}
.footer .social-icons  .fa-facebook:hover {
  color: #0d69d5;
}
.footer .social-icons  .fa-twitter:hover {
  color: 	#1DA1F2;
}.footer .social-icons  .fa-instagram:hover {
  color: #E4405F;
}.footer .social-icons  .fa-youtube:hover {
  color: #CD201F;
}


.footer .copyright{
  margin-top: 60px;
}
.footer .copyright span{
  font-weight: bold;
  color: var(--main-color);
}

@media(max-width:767px)
{
  .footer .social-icons i {
      padding: 10px 30px;
      color: #ffffff;
  }
}