@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
    
    /* background-image: linear-gradient(to left ,rgb(255, 102, 68),rgb(76, 94, 185)); */

}
header .logo{
    max-width: 100px;
    height: 100px;
    position: relative;
    
}

header ul
{
    position: relative;
    display: flex;

}

header ul li
{
    list-style: none;  
    
}

header ul li a    
{
    display: inline-block;
    color:#333;
    font-weight: 800;
    margin-left:40px;
    text-decoration: none;
}

header ul li a:hover
{
    background-color: #1e539e;
    color:white;
}


.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    text-align: right;
    direction: rtl;
    
    
}

.content .textBox
{
     position: relative;
     max-width: 900px;

}

.content .textBox h2 
{
    color: #b9452e;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
    flex-wrap: nowrap;
    /* max-height: 10px; */
}
.content .textBox h2  span
{
    color:rgb(142, 58, 13);
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p
{
    color:rgb(0, 0, 0);
   
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #b9452e;
    border-radius: 40px;
    color:white;
    font-weight:500;
    letter-spacing: 2px;
    text-decoration: none;   
    
}
.content .imgBox
{
    width:600px;
    display: flex;
    justify-content: flex-end;
    padding-right:50px;
    margin-top: 50px;
}

.content .imgBox img 
{ 
    max-width: 340px;
}
.thumb
{
    position: absolute;
    left: 50%;
    bottom:20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li:hover{
    transform: translateY(-20px);
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;   
    cursor: pointer;
    transition: 0.5s;
}

.thumb li img
{
    max-width: 130px;
}

.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.sci li 
{
    list-style: none;
    /* max-width: 60px; */
}
.sci li a
{
    display: inline-block;
    margin: 50px 0;
    transform: scale(0.6);
    filter: invert(1);
    

}
.sci .im
{
    position: fixed;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.circle
{
     position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1e539e;
    clip-path: circle(600px at left 800px);
}

p{
    font-size: large;
    font-weight: 800;
    text-align: right;
    direction: rtl;

}

.benefits
{
    font-weight: 900;

    margin-right: 40px;
}





