
:root{
    --main-color: rgb(185, 55, 55);
    --secondary-color:#333;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    font-family: 'Cairo', sans-serif;
}


.container
{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto; 
}

/* small */
@media (min-width:768px)
{
    .container{
        width: 750px;
    }
}

/* Medium */

@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px)
{
    .container{
        width: 1170px;
    }
}

/* Start Compenet */
    .spesical-heading
    {
        color: #f8a6a6;
        font-size: 80px;
        margin-bottom: 50px;
        text-align: center;
        font-weight: 800;
        letter-spacing: 10px;
        margin:0;
    }
    .spesical-heading + p
    {
        margin: -30px 0 0 ;
        font-size: 20px;
        text-align: center;
        color: #777;
    } 

    @media(max-width:767px)
    {
        .spesical-heading
        {
            font-size: 60px;
        }
        .spesical-heading + p
        {
            margin-top:-20px;
        }
    }


/* End Component */


.header
{
     
    padding:20px;
    

}




.header .container
{ 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo
{
    width: 80px;
}

.header .links
{
    position: relative;
}
.header .links:hover .icon span:nth-child(2)
{
    width: 100%;
    
}

.header .links .icon

{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}


.header .links .icon span
{ 
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
    
}

.header .links .icon span:first-child
{
    
    width: 100%;

}

.header .links .icon span:nth-child(2)
{
    width:60%;
    transition: 0.3s;
    
}
.header .links .icon span:last-child
{
    
    width: 100%;
}


.header .links ul 
{ 
    list-style: none;
    margin:0;
    padding:0;
    background-color: #b0b0b0;
    position: absolute;
    right:0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 10;
    
}


.header .links ul::before
{ 
    content:"";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #b0b0b0 transparent;
    position: absolute;
    right: 5px;
    top:-20px;

}
.header .links:hover ul
{
    display: block;
}

.header .links ul li a
{ 
    display: block;
    padding: 15px;
    text-decoration: none;
    color:var(--secondary-color);
    transition: 0.3s;
    text-align: right;
}

.header .links ul li a:hover
{
    padding-right: 25px;
    background-color: var(--main-color);
    color:white;
    
}

.header .links ul li:not(:last-child) a
{
    border-bottom: 2px solid #ddd;
}

/* Start */
.Benefit
{
    background-image: url(../imgs/MainP1.jpg);
    background-size: cover;
    height: calc(100vh - 100px);
    position: relative;
}


.Benefit .intro-text
{
    position:absolute;
    left: 50%;
    top:18%;
    transform: translate(-50%, -50%);
    /* width: 320px; */
    max-width: 100%;

}
.Benefit .intro-text h1
{
    margin:0;
    font-weight: bold;
    font-size: 50px;
    color:var(--main-color);
    text-align: center;

}
.Benefit .intro-text p
{
    font-size: 19px;
    line-height: 1.8;
    text-align: center;

}

/* Second */
 
.features
{ 
    /* border: 1px solid red; */

    /* align-items: center; */
    /* background-color: #b0b0b0; */
    padding-top: 60px;
    padding-bottom: 60px;
    background: color #db1a1a;

}
.features .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap:20px;
}

.features .feat
{
    padding: 20px;
    text-align: center;
}

.features .feat i
{
    color: var(--main-color);
}

.features .feat h3
{
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p
{
    line-height: 1.8;
    color:#777;
    font-size: 17px;
    text-align: rtl;

}

.feat
{
    background-color: #fcfafa;
    border-radius: 10px;
    box-shadow: 2px 3px 15px 5px #c4c3c3;
    transition: 0.7s;
}
.feat:hover
{
    
    transform: translateY(-15px) scale(1.06);   
    color: white;
    background-color:var(--main-color);
}





/* Start Services */

.Services
{
 padding-top:60px ;
 padding-bottom:60px ;  
 text-align: rtl;
  
}

.Services .Services-content
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px , 1fr));
    grid-gap: 30px;
    margin-top:100px;
    


}
.Services .Services-content .srv
{
    display:flex;
    margin-bottom: 60px;
    text-align: right;

}
@media(max-width:767px)
{
    .Services .Services-content .srv{
        flex-direction: column;
        text-align: center;
        
    }
}

.Services .Services-content .srv  i
{
    color: var(--main-color);
    flex-basis: 60px;
    display: inline-block;
    margin: right 10px;
    

}

.Services .Services-content .srv .intro-text
{
    flex:1;
}

.Services .Services-content .srv .text h3
{
    margin: 0 0 20px;
    display: inline-block;
    
}
.Services .Services-content .srv .text p
{
    color:#777;
    font-weight: 300;
    line-height: 1.8;
    text-align: rtl;
}
.Services .Services-content  .image
{
    text-align: center;
    position: relative;
}
.Services .Services-content .image::before
{
    content:"";
    background-color:var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;

}
.Services .Services-content  .image img
{
    width: 260px;
}
@media(max-width:1199px){
    .image-column
    {
        display: none;
    }
}



/* End Services */




