/* Start Global Setting */

:root {
    --main-color: rgb(185, 55, 55);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Amiri', serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Setting */

/*Start Header Setting*/

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 4px #888888;
    height: 65px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
}

.header .container a img {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .main-nav {
    display: flex;
}

.header .main-nav>li>a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-shadow: 0px -0.5px black;
    color: rgb(26, 0, 0);
    padding: 0 10px;
    transition: 0.3s;
    overflow: hidden;
}


.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
    background-color:  rgb(185, 55, 55);
    overflow: hidden;
    transition: 0.4s;
}

.header .main-nav>li>a:hover::before {
    left: 0;
}

/*End Header Setting*/
 
/*  start about section*/
.container .row  .col-md-4 h2{
   
}
/*  end about section*/

/* Start Section Setting */
.firstsection {
    display: flex;
}

.firstsection .container {
    min-height: calc(100vh - 65px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.firstsection .container>.vector1>img {
    width: 1500px;
    max-width: 100%;
}

.firstsection .container .paragraph h1 {
    position: absolute;
    top: 45px;
    font-size: 50px;
    width: 400px;
    height: 80px;
    /* margin: 30px auto; */
    /* border-left: 2px solid black; */
    overflow: hidden;
    white-space: nowrap;


}

.firstsection .container .paragraph h1 span {

    color: var(--main-color);

}

.firstsection .container .paragraph h3 {
    position: absolute;
    color: #727272;
    top: 110px;
    font-size: 20px;
    width: 274.15;
    height: 35px;
    margin: 30px auto;
    border-bottom: 2px double var(--main-color);
    padding-bottom: 35px;
    overflow: hidden;
    white-space: nowrap;
    animation: control_width 3s steps(40) 1s both;
    direction: rtl;

}

@keyframes control_width {
    from {
        width: 0;
    }

    to {
        width: 274.15px;
    }

}



.firstsection .container .paragraph h3 span {
    color: rgb(204, 0, 0);
}

.firstsection .container .paragraph p {
    font-size: 20px;
}

/* End Section Setting */


/* about section*/


/* End  about Section */




/*Start Benefits Setting */


.benefits {
    position: relative;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: fit-content;
    padding: 10px 15px;
}

.benefits::before, .benefits::after {
    content: "";
    width: 12px;
    height: 12px;
    background: rgb(204, 0, 0);
    position: absolute;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateY(-50%);
    top: 50%;
}

.benefits:hover {
    transition-delay: 0.5s;
    transition-duration: 0.3s;
    color: white;
    border-color: transparent;

}

.benefits::before {
    content: "";
    left: -30%;
}

.benefits::after {
    content: "";
    right: -30%;
}

.benefits:hover::before {
    content: "";
    z-index: -1;
    animation: BenefitsAnimationLeft 0.5s linear forwards;
}

.benefits:hover::after {
    z-index: -1;
    animation: BenefitsAnimationRight 0.5s linear forwards;
}

@keyframes BenefitsAnimationLeft {
    50% {
        left: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 50%;

    }
}

@keyframes BenefitsAnimationRight {
    50% {
        right: 0;
        height: 12px;
        width: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 50%;

    }
}

@keyframes ArrowAnimation {
    100% {
        transform: translateX(-40%);
    }
}

/*End Benefits Settings */

/*Start Articles Settings*/

.BenefitsArticles {}

.BenefitsArticles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.BenefitsArticles .container .box {
    box-shadow: 0 2px 15px rgb(0 0 0 /13%);
    background-color: white;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.BenefitsArticles .container .box:hover {
    transform: translateY(-5%);
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
}

.BenefitsArticles .container .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.BenefitsArticles .container img {
    width: 200px;
    height: 200px;
}

.BenefitsArticles .container .box .content {
    padding: 20px;
}

.BenefitsArticles .container .box .content h3 {
    margin: 0;
}

.BenefitsArticles .container .box .content p {
    margin: 10px 0 0;
    line-height: 1.5;
    color: #777;
}

.BenefitsArticles .container .box .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E6E6E7;
    padding: 20px;
}

.BenefitsArticles .container .box .link a, i {
    text-decoration: none;
    color: rgb(25, 201, 255);
    font-weight: bold;
}

.BenefitsArticles .container .box:hover .link i {
    animation: ArrowAnimation 0.5s linear infinite;
}














/*End Articles Settings*/

/* section3 review*/
/* puplic */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amiri', serif;
}

/* head proprity*/

.review_head {

    text-align: center;
    margin-block: 50px;

}

.estimate {
    text-align: center;
    width: 150px;
    position: relative;
    height: 55px;
    border: 3px dashed var(--main-color);
    outline: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Cairo', sans-serif;
}


.estimate:hover::before, button:hover::after {
    transform: scale(0)
}

.estimate:hover {
    box-shadow: inset 0px 0px 70px var(--main-color);
    color: white;
    border-style: solid;
    transform: scale(1.1);

}


.review_body {
    padding-left: 20px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.review_body .element {
    width: 20%;
    margin-left: 50px;
    margin-bottom: 100px;

}

.review_body .element .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: left;
}

.review_body .element .content .icon_element {
    margin-top: 10px;
    margin-bottom: 10px;
}

.review_body .element .content .Btn {
    margin-top: 40px;
    margin-right: 70px;


}

/* proprity button like*/
.Btn {

    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
    cursor: pointer;
    background-color: transparent;

}

.leftContainer {
    width: 60%;
    height: 100%;
    background-color: rgb(238, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.leftContainer .like {
    color: white;
    font-weight: 600;
}

.likeCount {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(238, 0, 0);
    font-weight: 600;
    position: relative;
    background-color: white;

}

.likeCount::before {
    height: 8px;
    width: 8px;
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    transform: rotate(45deg);
    left: -4px;
}

.Btn:hover .leftContainer {
    background-color: rgb(219, 0, 0);
}

.Btn:active .leftContainer {
    background-color: rgb(201, 0, 0);
}

.Btn:active .leftContainer svg {
    transform: scale(1.15);
    transform-origin: top;
}

/* Footer */
.footer {
    padding-top: 7px;
    padding-bottom: 2px;
    background-color: #535353;
    position: relative;
    color: white;
    text-align: center;
    /* margin-right: 200px; */
    /* margin-top:300px; */
    /* height: 800px; */
    box-shadow: -5px -2px 5px #5a5a5a;
    direction: rtl;
}

.footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #828282;


}

.footer .container {
    position: relative;

}

.footer img {
    padding-top: 12px;
    margin-bottom: -27px;
    width: 150px;
}

.footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}

.footer p:not(.copyright) span {
    color: var(--main-color);
}


.footer .social-icons i {
    padding: 10px 40px;

    color: #ffffff;
}

.footer .social-icons .fa-facebook:hover {
    color: #0d69d5;
}

.footer .social-icons .fa-twitter:hover {
    color: #1DA1F2;
}

.footer .social-icons .fa-instagram:hover {
    color: #E4405F;
}

.footer .social-icons .fa-youtube:hover {
    color: #CD201F;
}


.footer .copyright {
    margin-top: 60px;
}

.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}

@media(max-width:767px) {
    .footer .social-icons i {
        padding: 10px 30px;
        color: #ffffff;
    }
}


.progress {
    height: 20px;
    margin-bottom: 10px;
}