@import url(https://fonts.googleapis.com/css?family=Poppins:300);

*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Caladea', serif;

}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Caladea', serif;
}

body {
  width: 100%;
  background: rgb(59, 59, 59);
  overflow-y: hidden !important;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Caladea', serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(188, 55, 55);
  transition: 0.5s ease;
}

a:hover {
  color: rgb(220, 55, 55);
}

.form {
  background: #272727;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, .25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 48%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: rgb(220, 55, 55);
  color: #fff;
}

.tab-group .active a {
  background: rgb(188, 55, 55);
  color: #fff;
}

.tab-content>div:last-child {
  display: none;
}

.tab-group {
  border-radius: 15px !important;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}

input, textarea {
  font-size: 17px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid rgb(188, 55, 55);
  color: #fff;
  border-radius: 6px;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;

}

textarea {
  border: 2px solid rgb(188, 55, 55);
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row>div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row>div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 15px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 400;
  background: rgb(188, 55, 55);
  cursor: pointer;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover, .button:focus {
  background: rgb(188, 55, 55);
  ;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.outer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

input[type='radio'] {
  accent-color: rgb(188, 55, 55);
}