/*public style*/

*{
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
}
ul{
   list-style-type: none;
}
.clearfix{
    clear: both;
}
/*header*/


.navbar{
    padding-top: 20px;
   position:fixed;
   top:0;
   width:100%;
   /*background-color:#5c85d6;*/
   
}
.list_navbar{
    float:left;
    width: 60%;
    margin-top: 30px;
}
.logo{
    float:left;
    width: 40%;
}
.logo img{
    width: 20%;
}
.list_navbar ul li {
    display: inline-block;
    width: 80px;
}
.list_navbar ul li a{
    color:#5c85d6;
    font-size: 25px;
}
.header_content{
    margin-top: 50px;
    color: #fff;
}



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header {
    overflow: hidden;
    background-image:linear-gradient(to left,rgb(162, 50, 50),rgb(64, 66, 192));
  }

  .header a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}  
.header a.active {
    background-color: #7675b3;
    color: white;
}
.header a:hover {
    background-color: #7675b3;
    color: black;
}
img.centerImage{
   
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 15px;
    margin-left: 15px;
}


